<% include palets/header %>
<body style="text-align: center">
<div style="width: 80%" class="container">
    <div class="row">
        <% users.forEach(function (user) { %>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="well">
                    <%if(user.displayPic){ %>
                      <img style="max-width: 50px;max-height: 50px;border-radius: 400px; margin-left: 10px;margin-top: -15px" class="pull-left" src="<%= user.displayPic %>">
                    <%}%>
                     <span style="font-family: Satisfy;font-weight: bold;letter-spacing: 1px;margin-left: 10px"><%= user.displayName %></span>
                </div>
            </div>
        <% }) %>
</div>
</div>
<% include palets/footer%>