<% include palets/header %>
<body id="createPost">
<div class="container" id="createpostcontainer">
    <div class="well" id="createpostwell">
        <img src="<%= currentUser.displayPic %>" id="createpostuserpic"><br>
        <img style="max-width: 85%; max-height: 400px; margin-bottom: 8px; display: none; border-radius: 7px;" src="#" id="blah" >
        <div class="form-group" id="createpostform">
            <form action="/post/<%= post._id %>?_method=PUT" method="post" enctype="multipart/form-data" id="createpost">
                <input class="form-control" type="text" required="" autofocus="" value="<%= post.about %>" name="about" placeholder="what's on your mind">
                <input type="file" accept="image/jpeg, image/gif, image/png" onchange="readURL(this);" id="filewala" class="btn-sm btn btn-default" name="image">
                <button class="btn btn-success" type="submit">update</button>
            </form>
        </div>
        <a href="/post/<%= post._id %>" id="thebackbuttom" class="btn btn-info"><i class="fa fa-arrow-left"></i></a></div>
</div>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .show()
                    .attr('src', e.target.result)
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<% include palets/footer %>