<% include palets/header %>
<body id="bodyindex">
<div id="promo">
    <div class="jumbotron hero-technology">
        <h1 class="hero-title">Leave the cluster</h1>
        <h1 class="hero-title">lets connect</h1>
        <h1 class="hero-title">Own one's</h1>
        <p id="loginbtn"><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Lets connect</a></p>
    </div>
</div>
<footer>
    <div>
        <h5 id="footline">© Gyan - 2017</h5>
    </div>
</footer>
<% include palets/footer %>